.form-group.required .control-label:after {
    content:"*";
    color:red;
  }

.control-label-p:before {
    content:"*";
    color:red;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}