*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.search-input{
    width: 70%;
}

@media (max-width: 767px){
    .search-input{
        width: 100%;
    }
.space-footer{
    margin-right: 200px;
}


.tam{
    height: 100vh;
}

