.img-logo{
    width: 40px;
}

.search-input{
    width: 70%;
}

@media (max-width: 767px){
    .search-input{
        width: 100%;
    }
    .display-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}