.productItem{
    display:flex;    
  align-items:flex-end;
  margin-right: 30px;
  
 
}
.removeBord{
    border-style:none;
}
.productDescription{
    padding: 0;

}
.productPrice{
    text-align: right; 
    margin-right: 0;
    display:flex;    
    align-items:flex-end;
    font-size: 20px;
}
.cart{
        background: #ffffff;
        color : black;
        border: none;
}
.cart :hover{
    height: 45px;
    width: 45px;
    
}

.bordList{
    border: 3px;
    border-style: outset;
    border-radius: 8px;
    margin-right: 25px;
    margin-left: 25px;
}