<<<<<<< HEAD
<<<<<<< .merge_file_a07120
html{
    height: 100vh;
}
body{
    min-height: 100vh;
    position: relative;
}
body::after{
    content: "";
    display: block;
    height: 60vh;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
=======
=======
>>>>>>> 35ee84cfa6ff8122abdc1e6f583f533b134c408d
@media(max-width: 600px){
    footer{
        position: relative!important;       
    } 
<<<<<<< HEAD
>>>>>>> .merge_file_a04924
}
=======
}
>>>>>>> 35ee84cfa6ff8122abdc1e6f583f533b134c408d
