html{
    height: 100vh;
}
body{
    min-height: 100vh;
    position: relative;
}
body::after{
    content: "";
    display: block;
    height: 60vh;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
}