<<<<<<< .merge_file_a07120
html{
    height: 100vh;
}
body{
    min-height: 100vh;
    position: relative;
}
body::after{
    content: "";
    display: block;
    height: 60vh;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
=======
@media(max-width: 600px){
    footer{
        position: relative!important;       
    } 
>>>>>>> .merge_file_a04924
}